* {
  list-style-type: none;
  margin:0;
  padding:0;
}
a{text-decoration:none; color:inherit;}

body, html {
  height: 100%;
  font-family: Georgia, Serif, "Times New Roman", Times, serif;
}

.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div nav {
  position: fixed;
  height: 2em;
  width: 100%;
  top: 0;
  /*background-color: rgb(249, 211, 240);*/
  background: cyan;
}
div nav > ul{
  display: flex;
  justify-content: space-around;
  margin: .5em;
}

div nav > ul > li.current {
  background-color: #4CAF50;
  color: white;
}
div nav > ul > li:hover {
  background-color: rgb(250, 232, 112);
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: cyan;
  color: #000;
}

footer .hidden {
  display: none;
}

footer .maintainedby:hover .hidden {
  display: block;
  position: absolute;
  margin-top: -8em;
  margin-left: 5em;
}

footer .profile {
  width: 2em;
}

.rounded-corners {
  background-color: white;
  border-radius: 30px;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 440px) {
  body {
    background-color: rgb(162, 229, 238);
  }
}
